<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alex's blog</title>
</head>
<body>
    <div><h1><a href="#">Alex's BLOG</a></h1></div>
    {% for po in posts%}
        <div>
            <p>Published date: {{ po.published_data }}</p>
            <h2><a href="#">{{ po.title }}</a></h2>
            <p> {{ po.text | linebreaksbr }}</p>
        </div>
    {% endfor %}
<!--    <div>-->
<!--        <p>Published date</p>-->
<!--        <h2><a href="#">My first post</a></h2>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, obcaecati.</p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <p>Published date</p>-->
<!--        <h2><a href="#">My second post</a></h2>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto aspernatur blanditiis earum, praesentium vero.</p>-->
<!--    </div>-->

</body>
</html>